@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@700&display=swap');


.navbar-brand {
  font-family: 'Baloo Bhaijaan 2',
  cursive;
  font-weight: 700;
}

.dropdown-toggle::after {
  display: none !important; 
}