@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@700&display=swap');

/* .CreatableSelect:focus{
  border: #a3c4bc;
  box-shadow:  0 0 0 0.1rem #8ebdb1 ;
  background-color: transparent;
} */

.navbar-brand {
  font-family: 'Baloo Bhaijaan 2',
  cursive;
  font-weight: 700;
}

h1 {
  font-family: 'Baloo Bhaijaan 2',
  cursive;
  font-weight: 700;
}

h2 {
  font-family: 'Baloo Bhaijaan 2',
  cursive;
  font-weight: 550;
}

.recipe-text {
  font-size: medium;
}

.dropdown-toggle::after {
  display: none !important; 
}

.input-number {
  height: 32px;
  border-radius: 4px;
  border: 1px solid #d8d8d8;
  position: relative;
  text-align: center;
  font-size: 15px;
  width: 40px;
  outline: none;
  background-position: center right;
  background-size: contain;
  background-repeat: no-repeat;
  caret-color: transparent;
}